<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}<link rel="stylesheet" href="{% static "App1/user_login.css" %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="register.js"></script>
    <title>Doctor Register</title>
 <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#some_flag" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
</head>
<body>
<center>
{% for message in messages %}

                    <div class="alert alert-warning" style="width:500px;box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);margin-top:10px;">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        <b>{{ message }}</b>
                    </div>
            {% endfor %}
{% if some_flag %}
    <div id="some_flag" title="Some Flag">
        <div class="alert alert-success" style="width:500px;box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);margin-top:10px;">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        <b>Registered Successfully!</b>
                    </div>
    </div>
{% endif %}
</center>

<div style="position:absolute;top:80px;left:180px">
<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <h1>Doctor Signup</h1>
            </a>
        </div>
    </nav>
</header>


<div class="container"  >
    <div class="row py-0 mt-0 align-items-center">
        <!-- doctor image -->
        <div class="col-md-5 pr-lg-0 mb-4 mb-md-0">
             <img src={% static "App1/media/docreg.png" %} alt=""
                                  class="img-fluid mb-4 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic text-muted mb-5">Create account in the new EHR system that is used to receive
                documents securely.</p>

        </div>

        <!-- Registeration Form -->

        <div class="col-sm-7 col-lg-6 ml-auto">
            <form action="/docReg/" method="POST">
                <div class="row py-0 mt-0 ">
                    {% csrf_token %}
                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="Name" type="text" name="name" placeholder="Name"
                               class="form-control bg-white border-left-0 border-md" required pattern="^[a-zA-Z]+$">
                    </div>

                    <!-- age -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-child text-muted" style="font-size:24px"></i>
                            </span>
                        </div>
                        <input id="age" type="number" name="age" placeholder="Age"
                               class="form-control bg-white border-left-0 border-md" required pattern="/[0-9]+/">
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Email Address"
                               class="form-control bg-white border-left-0 border-md" required
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px"
                                class="custom-select form-control bg-white border-left-0 border-md h-100  text-muted">
                            <option value="">+91</option>
                        </select>
                        <input id="phone" type="text" name="phone" placeholder="Phone Number"
                               class="form-control bg-white border-md border-left-0 pl-3" required pattern="[0-9]{10}">
                    </div>


                    <!-- Gender -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-genderless text-muted" style="font-size:24px;"></i>
                            </span>
                        </div>
                        <select id="gender" name="gender"
                                class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                            <option value="Female">Others</option>
                        </select>
                    </div>

                    <!-- License Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-stethoscope custom text-muted" style="font-size:20px"></i>
                            </span>
                        </div>
                        <input id="license" type="text" name="license" placeholder="Doctor License Number"
                               class="form-control bg-white border-md border-left-0 pl-3" required pattern="[0-9]{12}">
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password"
                               class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="password" name="passwordConfirmation"
                               placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md"
                               required>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2">Create your account</button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted  text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="footer-text">Already Registered? <a href="/dlogin/" class="text-primary ml-1">Login</a>
                        </p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>

</body>
</html>